/****************FONT*****************/
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}